* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Chakra Petch', sans-serif;
  font-size: 1.2rem;
  margin: 0 0 0 1vw;
  padding: 0;
}

.container{
  display: flex;
  max-width: 100vw;
  max-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 20vw;
  max-height: auto;
  margin: 0 5vw;
}

header h1 {
  font-family: 'Shizuru', cursive;
  font-size: 2.6rem;
  background: -webkit-linear-gradient(#fff, blueviolet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

header p {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: #6D3E9B;
  margin-top: 2vh;  
}

header ol {
  font-size: 1rem;
  text-align: left;
  color: #49484A;
  margin-top: 1vh;
  margin-bottom: 0.7vh;
}

header li{
  padding-top: 1vh;
  padding-left: 1vw;
}

.memorize{
  font-weight: bold;
}

.background {
  margin-top: 5vh;
  background-image: url("../Images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 63vw;
  max-width: 64vw;
  height: 80vh;
  max-height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.donuts {
  display: none;
  justify-content: center;
  align-items: center;
}

.donuts-img {
  max-width: 20vw;
  margin: 20vh 15vw auto 10vw;
  padding: 0 0;
}

.imgs-results img{
  max-width: 22vw;
  margin: 10vh 10vw auto 7vw; 
  padding: 0 0;
}

.timer {
 color: #6D3E9B;
 font-weight: bold; 
 margin: 20vh 15vw auto 10vw;
 padding: 0 0;
 border: #ad80da;
 border-style: dotted;
 border-radius: 1em;
 text-align: center;
 width: 35px;
}

.left-side-bar{
  margin: 2vh auto auto 2vw;
  padding: 0;
  display: inline-block;
  justify-content: center;
}

.btns-order-base-deliver li{
  list-style: none;
  text-align: center;
  position: relative;
  margin-bottom: 1vw;
}

.background button {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1.05rem;
  border-radius: 0.4em;
}

.new-order-btn{
  color: rgb(52, 243, 243);
  background-color: #6c36a1;
}

.btn-base-donut{
  color: rgb(236, 139, 245);
  background-color: #6c36a1;
}

.deliver-btn{
  color: rgb(243, 242, 177);
  background-color: #6c36a1;
}

.cover-choices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover-choices input {
  margin-bottom: 2vh;
  padding: 0 0;
  border: #ad80da;
  border-style: dotted;
  color: aliceblue;
  width: 5vw;
}

.right-side-bar{
  margin: 2vh 2vw auto auto;
  padding: 0;
  display: inline-block;
  justify-content: center;
}

.score{
  border: #ad80da;
  border-style: dotted;
  background-color: #3d106b;
  color: aliceblue;
  font-size: 1.05rem;
  font-weight: bold;
  text-align: center;
  width: 5vw;
  height: auto;
  margin-left: 0.5vw;
}

.sprinkle-bottle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
  padding: 0 0;
  border: #ad80da;
  border-style: dotted;
  color: aliceblue;
  width: 6vw;
}

.new-game-btn{
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1.05rem;
  font-weight: bold;
  color: #5a0ca8;
  background-color: rgb(240, 236, 9);
  border-radius: 0.3em;
  width: 5vw;
  margin: 1vh 0 1vw 0.5vw;
}

.red {
  background-color: red;
  color: black;
}