 /* * {
  border: 1px solid blue;
} */

body {
  font-family:'Chakra Petch', sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  display: flex;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  position: relative;
  margin: 0 25px 0 10px;
}

header h1 {
  font-family: 'Shizuru', cursive;
  font-size: 45px;
  background: -webkit-linear-gradient(#fff, blueviolet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-items: center;  
}

header p {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #6D3E9B;
}

header ol {
  font-size: 16px;
  text-align: left;
  color: #49484A;
}

header li{
  padding-top: 25px;
  padding-left: 10px;
}

.memorize{
  font-weight: 800;
}

.background {
  background-image: url("../Images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 60vw;
  max-width: 60vw;
  max-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.donuts {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-right: 100px;
}

.imgs-results img{
  max-width: 25vw;
  margin-top: 80px;
  margin-left: 75px;
  padding: 0 0;
}

.right-side-bar{
  margin:0;
  padding: 0;
  display: inline-block;
  justify-content: center;
}

.btns-order-base-deliver li{
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  margin-right: 0;
}

.new-order-btn{
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1.1rem;
  color: rgb(52, 243, 243);
  background-color: #6c36a1;
  border-radius: 0.3em;
}

.btn-base-donut{
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1.1rem;
  color: rgb(236, 139, 245);
  background-color: #6c36a1;
  border-radius: 0.3em;
}

.deliver-btn{
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1.1rem;
  color: rgb(243, 242, 177);
  background-color: #6c36a1;
  border-radius: 0.3em;
  width: 100px;
  height: 55px;
}

.cover-choices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover{
  width: 75px;
  margin-bottom: 10px;
  padding: 0 0;
  border: #ad80da;
  border-style: dotted;
  color: aliceblue;
}

.left-side-bar{
  margin:0;
  margin-right: 20px;
  padding: 0;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.score{
  border: #ad80da;
  border-style: dotted;
  background-color: #3d106b;
  color: aliceblue;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  width: 90px;

}

.sprinkle-bottle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  margin-top: 15px;
  border: #ad80da;
  border-style: dotted;
  color: aliceblue;
}

.new-game-btn{
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  color: #5a0ca8;
  background-color: rgb(240, 236, 9);
  border-radius: 0.3em;
  width: 90px;

}