/* * {
  border: 1px solid blue;
} */

body {
  font-family:'Chakra Petch', sans-serif;
  font-size: 1.2rem;
  margin: 0;
  width: 97vw;
  height: 87vh;
  display: flex;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
}

header h1 {
  font-family: 'Shizuru', cursive;
  font-size: 35px;
  background: -webkit-linear-gradient(#fff, blueviolet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-items: center;  
}

header p {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #6D3E9B;
}

header ol {
  font-size: 16px;
  align-self: center;
  color: #49484A;
}

.background {
  background-image: url("../Images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 90vw;
  max-width: 90vw;
  max-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.donuts {
  display: none;
  width: 100%;
  align-items: center;
}

.btns-order-base-deliver{
  margin:0;
  padding: 0;
  position: relative;
}

.btns-order-base-deliver li{
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  margin-right: 0;
}

.new-order-btn{
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1.1rem;
  color: rgb(52, 243, 243);
  background-color: #6c36a1;
  border-radius: 0.3em
}

.btn-base-donut{
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1.1rem;
  color: rgb(236, 139, 245);
  background-color: #6c36a1;
  border-radius: 0.3em;
}

.deliver-btn{
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1.1rem;
  color: rgb(243, 242, 177);
  background-color: #6c36a1;
  border-radius: 0.3em
}

.cover-choices {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.cover{
  width: 50px;
  margin-bottom: 9rem;
  padding: 0 0;  
}

.sprinkles-choices {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.sprinkle-bottle {
  width: 50px;
  margin-bottom: 8rem ;
  padding: 0 0;  
}


.cover-btn-none {
  width: 50px;
}

.right {
  width: 100%
}

.wrong {
  width: 100%;
}

.winner{
  width: 100%;
}

.point{
  position: relative;
  font-weight: bold;
  color: aliceblue;
  font-size: 22px;
}

.point p{
  border: #ad80da;
  border-style: dotted;
  text-align: center;
}

.new-game-btn{
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  color: #5a0ca8;
  background-color: rgb(240, 236, 9);
  border-radius: 0.3em
}